@using Microsoft.AspNetCore.Mvc.ApiExplorer
@inject IApiDescriptionGroupCollectionProvider Provider

<section>
	@foreach (var group in Provider.ApiDescriptionGroups.Items) {
		<h3>@group.GroupName</h3>
		@foreach (var item in group.Items) {
			<details>
				<summary>@item.HttpMethod&nbsp;@item.RelativePath</summary>
			</details>
		}
	}
</section>
