@page
@model IndexModel
@{
	ViewBag.Title = "Index";
}

<a asp-page="Add">Add</a>

<form method="get">
	<input asp-for="Query" />
	<button type="submit">Search</button>
</form>

@foreach (var monster in await Model.QueryMonstersAsync()) {
	<div>@monster.Name</div>
}
