@page
@model IndexModel
@{
	ViewBag.Title = "Index";
}

<a asp-page="Add">Add</a>

<form method="get">
	<input asp-for="Query" />
	<button type="submit">Search</button>
</form>

<div class="monster-list">
@foreach (var monster in Model.Monsters) {
	<div>@monster.Name</div>
}
</div>
