@{
}

@* vcプレフィックスを使ってビューコンポーネントを呼び出す *@
@* ビューコンポーネント名はケバブケース（ハイフンつなぎ） *@
@* html属性で引数を渡す *@
@*  *@
<h3>ToDo</h3>
<vc:todo-list is-done="false"></vc:todo-list>

<h3>Done</h3>
<vc:todo-list is-done="true"></vc:todo-list>
