<feature name="FeatureA">
	<p>@nameof(FeatureFlags.FeatureA)</p>
</feature>
<feature name="FeatureB">
	<p>@nameof(FeatureFlags.FeatureB)</p>
</feature>
<feature name="FeatureC">
	<p>@nameof(FeatureFlags.FeatureC)</p>
</feature>
