@model ByteArrayCommand
@{
	ViewBag.Title = "ByteArray";
}

<div class="row">
	<div class="col">
		<h4>Form</h4>
		<form>
			@* asp-forを使ってtype="hidden"の場合、base64にエンコードされる *@
			<h5>asp-for</h5>
			<div class="form-group">
				<label>type="text"</label>
				<input id="id1" asp-for="Bytes" class="form-control" type="text" />
			</div>
			<div class="form-group">
				<label>type="hidden"</label>
				<input id="id2" asp-for="Bytes" type="hidden" />
			</div>

			@* value属性に直接バイト配列を指定した場合、base64にエンコードされない *@
			<h5>value</h5>
			<div class="form-group">
				<label>type="text"</label>
				<input value="@Model.Bytes" class="form-control" type="text" />
			</div>
			<div class="form-group">
				<label>type="hidden"</label>
				<input value="@Model.Bytes" type="hidden" />
			</div>
		</form>
	</div>
</div>
