@using Microsoft.AspNetCore.Html
@using TagHelperWebApp.TagHelpers
@{
	ViewBag.Title = "Index";
}
<div class="row mt-1">
	<div class="col">
		<h4>@nameof(IfTagHelper)</h4>
		<span if="true">true</span>
		<span if="false">false</span>
	</div>
</div>
<div class="row mt-4">
	<div class="col">
		<h4>@nameof(PrePostTagHelper)</h4>
		<pre-post>
			<span>Content</span>
		</pre-post>
	</div>
</div>
<div class="row mt-4">
	<div class="col">
		<h4>@nameof(ModalPartialTagHelper)</h4>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sample-modal">Launch modal</button>
		<modal-partial id="sample-modal" title="Modal title">
			<p>Modal body text goes here.</p>
		</modal-partial>

		<h5>PartialTagHelperをそのまま使う場合</h5>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sample-modal-bypartial">Launch modal</button>
		@{
			var model = new ModalPartialViewModel {
				Id = "sample-modal-bypartial",
				Title = "Modal title",
				Body = new HtmlString("<p>Modal body text goes here.</p>"),
			};
			<partial name="_Modal" model="model" />
		}
	</div>
</div>
<div class="row mt-4">
	<div class="col">
		<h4>@nameof(ParagraphTagHelper)</h4>
		<p first second>Content</p>
	</div>
</div>
