@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Antiforgery</title>
</head>
<body>
	<h1>Antiforgery</h1>
	<a asp-controller="Sample">asp-antiforgeryとIgnoreAntiforgeryToken</a>
</body>
</html>
