@using RazorPageWebApp.Models.Monsters
@using SampleLib
@model EditFormModel
@{
	var categories = EnumHelper.GetValues<MonsterCategory>().Select(category => category.ToSelectListItem());
}
<div asp-validation-summary="All"></div>
<form method="post">
	<div>
		ID<br>
		<input asp-for="Id" />
	</div>
	<div>
		Category<br>
		<select asp-for="Category" asp-items="categories"></select>
	</div>
	<div>
		Name<br>
		<input asp-for="Name" />
	</div>
	<button type="submit">Save</button>
</form>
