@page "{id:int}"
@model EditModel
@{
	ViewBag.Title = "Edit";
	var formModel = ViewData["formModel"] as EditFormModel;
}
<partial name="_EditForm" model="formModel" />
<form method="post">
	<button type="submit" asp-page-handler="delete">Delete</button>
</form>
