@page "{id:int}"
@model EditModel
@{
	ViewBag.Title = "Edit";
}
<div asp-validation-summary="All"></div>
<form method="post">
	ID:<input asp-for="Id" />
	Name:<input asp-for="Name" />
	<button type="submit">Save</button>
</form>
<form method="post">
	<button type="submit" asp-page-handler="delete">Delete</button>
</form>
