@page
@model IndexModel
@{
	ViewBag.Title = "Index";
}

<a asp-page="Add">Add</a>

<form method="get">
	<input asp-for="Query" />
	<button type="submit">Search</button>
</form>

<div class="monster-list">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var monster in Model.Monsters) {
				<tr>
					<td>@monster.Id</td>
					<td>@monster.Name</td>
					<td><a asp-page="Edit" asp-route-id="@monster.Id">Edit</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
