<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-controller="Home" asp-action="Claim">Claim</a></li>
			</ul>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer></footer>
</body>
</html>
