<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - RazorPageWebApp</title>
	<link href="~/RazorPageWebApp.styles.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
	<header>
		<h1>@ViewBag.Title</h1>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer></footer>
</body>
</html>
